@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Manrope";
  background-color: hsl(218, 23%, 16%);
}

.advice {
  width: 50vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.8rem;
  background-color: hsl(217, 19%, 24%);
  padding: 1.5rem;
}

.number {
  color: hsl(150, 100%, 66%);
  margin: 1rem 0 1.5rem 0;
  font-size: 28px;
  font-weight: 800;
}

.quote {
  font-size: 28px;
  color: hsl(193, 38%, 86%);
  line-height: 1.4;
  font-weight: 800;
  margin-bottom: 0.6rem;
}

.number,
.quote {
  text-align: center;
}

.pattern {
  width: 100%;
  margin: 1.2rem 0;
}

.desktop {
  display: none;
}

.diceButton {
  background-color: hsl(150, 100%, 66%);
  cursor: pointer;
  width: min-content;
  padding: 1.2rem;
  margin: -2rem auto 0 auto;
  border: none;
  border-radius: 50%;
  transform: translateY(75%);
}

@media screen and (max-width: 375px) {
  .advice {
    width: 90vw;
  }
}

@media screen and (min-width: 1440px) {
  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .advice {
    width: 37.7vw;
    padding: 1.6rem 2.8rem 0rem 2.8rem;
    transform: translateY(-1rem);
  }

  .quote {
    font-size: 28px;
  }

  .pattern {
    margin: 2.4rem 0;
  }
}
